 
.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
  color: #f8f9fa;
  background-color:rgb(255, 145, 0);
  float: right !important;
  margin: 2px;

}
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #3f51b5;
  background-color:#FFFFFF;
  float: right !important;
  margin: 2px;
}
.company-list-width {
  width: 50%;
}
.form-control{
  min-height: 40px;
}